.container--ch * {
  box-sizing: border-box;
}
.container--ch img {
  margin: auto;
}

.ii-product-card {
  box-sizing: border-box;
  width: 33%;
  border: 3px solid #275CCD;
  text-align: center;
  margin: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
}
.ii-product-card img {
  width: 80%;
  margin: 0 auto 15px auto;
}
.ii-product-card p {
  font-size: 24px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 0 auto 15px auto;
  line-height: 1.3;
  font-weight: bold;
}

.ii-button {
  text-decoration: none !important;
  font-size: 22px;
  padding: 15px 40px;
  font-weight: bold;
  font-family: sans-serif;
  border: solid 4px #275CCD;
  transition: 0.3s;
  overflow: hidden;
  text-align: center;
  color: #ffffff !important;
  cursor: pointer;
}
.ii-button:hover {
  border-color: #2289e3;
  transform: translateY(-2px) !important;
}
.ii-button--filled {
  background: #275CCD;
}
.ii-button--filled:hover {
  background: #2289e3;
}

.ii-testimonials-card {
  width: 31%;
  background: #275CCD;
  background-position: top center;
  background-size: cover;
}
.ii-testimonials-card img {
  width: 100%;
  margin: 0;
}
.ii-testimonials-card p {
  margin: 0;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 22px;
  line-height: 1.3;
  font-family: serif;
}
.ii-testimonials-card p.signature {
  font-style: italic;
}

@media (max-width: 770px) {
  .no-display-770px {
    display: none !important;
  }
}
@media (max-width: 720px) {
  .no-display-720px {
    display: none !important;
  }
}
.container--ch #hero {
  background: url("https://iteminc.com/content/files/frontend-assets/printer-darkened.jpg");
  color: #ffffff;
  padding: 80px 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container--ch #hero h1 {
  color: #ffffff;
  text-align: left;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 0;
  font-weight: bold;
}
.container--ch #hero .underline {
  height: 5px;
  width: 50%;
  background: #275CCD;
  bottom: 0;
  max-width: 90px;
  margin-bottom: 0;
}
.container--ch #hero p {
  font-size: 35px;
  width: 100%;
  max-width: 650px;
  font-family: sans-serif;
  line-height: 1.3;
}
.container--ch #hero .flex {
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}

/***********************************
******MEDIA QUERIES*****************
************************************/
@media (max-width: 720px) {
  .container--ch #hero h1 {
    font-size: 35px;
  }
  .container--ch #hero p {
    font-size: 25px;
  }
  .container--ch #hero .flex {
    flex-direction: column;
  }
  .container--ch #hero .flex .ii-button {
    margin-bottom: 25px;
    font-size: 18px;
    width: 80%;
  }
}
.container--ch #company-logos {
  overflow: hidden;
  box-sizing: border-box;
}
.container--ch #company-logos .flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px auto 20px auto;
  align-items: center;
}
.container--ch #company-logos .flex img {
  width: 200px;
  padding: 10px;
}
.container--ch #company-logos .flex span.img-downsize img {
  height: 100px !important;
  width: auto !important;
}
.container--ch #company-logos .flex img:nth-child(4) {
  width: 100px;
}

.container--ch #product-cards .flex {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
/*****************************************
**********MEDIA QUERIES*******************
*****************************************/
@media (max-width: 865px) {
  .ii-product-card p {
    font-size: 22px;
  }
  .ii-product-card .ii-button {
    font-size: 16px;
  }
}
@media (max-width: 770px) {
  #product-cards .flex {
    flex-direction: column;
  }
  #product-cards .flex .ii-product-card {
    width: 90%;
  }
  #product-cards .flex .ii-product-card .ii-container {
    width: 100%;
  }
  #product-cards .flex .ii-product-card .ii-container .ii-button {
    font-size: 18px;
    width: 80%;
    display: block;
    margin: auto;
  }
}
.container--ch #oki-items {
  background: url("https://iteminc.com/content/files/frontend-assets/background-images/oki-model-blue.jpg");
  color: #ffffff;
  padding: 80px 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container--ch #oki-items span {
  width: 100%;
}
.container--ch #oki-items img {
  width: 70%;
  margin: auto;
  display: block;
}
.container--ch #oki-items p {
  font-size: 35px;
  width: 100%;
  font-family: sans-serif;
  line-height: 1.3;
}
.container--ch #oki-items .ii-button {
  display: block;
  border-color: #ffffff;
  max-width: 600px;
  margin: auto;
  background: #ffffff;
  color: #275CCD !important;
}

/***********************************
******MEDIA QUERIES*****************
************************************/
@media (max-width: 720px) {
  .container--ch #oki-items h1 {
    font-size: 35px;
  }
  .container--ch #oki-items p {
    font-size: 25px;
  }
  .container--ch #oki-items .ii-button {
    margin-bottom: 25px;
    font-size: 18px;
    width: 80%;
  }
}
.container--ch #testimonials h1 {
  color: #707070;
  font-size: 45px;
  text-align: center;
  text-transform: capitalize;
}
.container--ch #testimonials .flex {
  display: flex;
  justify-content: space-around;
}
.container--ch #testimonials .flex .ii-testimonials-card {
  overflow: hidden;
}

@media (max-width: 934px) {
  .container--ch #testimonials .flex {
    flex-direction: column;
  }
  .container--ch #testimonials .flex .ii-testimonials-card {
    width: 90%;
    margin: 20px auto;
    max-width: 500px;
  }
}
.container--ch #cta-homepage {
  background: url("https://iteminc.com/content/files/frontend-assets/background-images/dot-matrix-dark.jpg");
  color: #ffffff;
  padding: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container--ch #cta-homepage h1 {
  color: #ffffff;
  text-align: left;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 0;
  font-weight: bold;
}
.container--ch #cta-homepage .underline {
  height: 5px;
  width: 50%;
  background: #275CCD;
  bottom: 0;
  max-width: 240px;
  margin-bottom: 0;
}
.container--ch #cta-homepage p {
  font-size: 35px;
  width: 100%;
  max-width: 650px;
  font-family: sans-serif;
  line-height: 1.3;
}
.container--ch #cta-homepage .flex {
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}

/***********************************
******MEDIA QUERIES*****************
************************************/
@media (max-width: 720px) {
  .container--ch #cta-homepage h1 {
    font-size: 35px;
  }
  .container--ch #cta-homepage p {
    font-size: 25px;
  }
  .container--ch #cta-homepage .flex {
    flex-direction: column;
  }
  .container--ch #cta-homepage .flex .ii-button {
    margin-bottom: 25px;
    font-size: 18px;
    width: 80%;
  }
}
.container--ch #delivery-services span {
  margin: auto !important;
  display: block !important;
  width: 100% !important;
}
.container--ch #delivery-services img {
  margin: auto;
  display: block;
  width: 100%;
}
.container--ch #delivery-services h1 {
  color: #707070;
  font-size: 30px;
  text-align: center;
  line-height: 1.3;
  text-transform: capitalize;
}
.container--ch #delivery-services h1 em {
  font-weight: bold;
  font-size: 45px;
}

/*******************************
******MEDIA QUERIES*************
********************************/
@media (max-width: 720px) {
  .container--ch #delivery-services h1 {
    font-size: 25px;
  }
  .container--ch #delivery-services h1 em {
    font-size: 30px;
  }
}
.container--ch #members {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.container--ch #members .team-cards {
  box-sizing: border-box;
  width: 30%;
  text-align: center;
  margin: 15px;
  padding: 5px;
}
.container--ch #members .team-cards img {
  width: 90%;
  margin: 0 auto 15px;
}
.container--ch #members .team-cards p {
  font-size: 22px;
  margin: 0 auto 2px;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #275CCD;
}

/******************************* 
       MEDIA QUERIES
*****************************/
@media (max-width: 1024px) {
  .container--ch #members {
    margin: 0;
  }
  .container--ch #members .team-cards {
    width: 40%;
  }
  .container--ch #members .team-cards img {
    width: 100%;
  }
  .container--ch #members .team-cards p {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  .container--ch #members {
    margin: 0;
  }
  .container--ch #members .team-cards {
    width: 100%;
  }
  .container--ch #members .team-cards img {
    width: 100%;
  }
  .container--ch #members .team-cards p {
    font-size: 20px;
  }
}
.ii-divider {
  width: 70%;
  height: 3px;
  background: linear-gradient(to right, white, rgba(112, 112, 112, 0.5), white);
  margin: 15px auto;
}

.ii-modal-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  height: 0vh;
  display: none;
  color: #ffffff;
  overflow: auto;
  padding: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}
.ii-modal-overlay .modal-exit {
  position: absolute;
  right: 25px;
  font-size: 30px;
  cursor: pointer;
}
.ii-modal-overlay .modal-content {
  background: red;
  transition: 0.3s;
  transform: scale(0.3);
}
.ii-modal-overlay .ii-grow {
  transform: scale(1);
}

.ii-modal-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.ii-hero {
  background: #999;
  color: #ffffff;
  padding: 40px;
}
.ii-hero h1 {
  color: #ffffff;
  text-align: left;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 0;
  font-weight: bold;
}
.ii-hero .underline {
  height: 5px;
  width: 50%;
  background: #275CCD;
  bottom: 0;
  max-width: 70px;
  margin-bottom: 0;
}
.ii-hero p {
  font-size: 35px;
  width: 100%;
  max-width: 650px;
  font-family: sans-serif;
  line-height: 1.3;
}
.ii-hero .flex {
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}

/***********************************
******MEDIA QUERIES*****************
************************************/
@media (max-width: 720px) {
  .ii-hero h1 {
    font-size: 35px;
  }
  .ii-hero p {
    font-size: 25px;
  }
  .ii-hero .flex {
    flex-direction: column;
  }
  .ii-hero .flex .ii-button {
    margin-bottom: 25px;
    font-size: 18px;
    width: 80%;
  }
}
.ii-underline {
  height: 5px;
  background: #275CCD;
  bottom: 0;
  max-width: 70px;
  margin-bottom: 0;
  display: block;
}

#mc_embed_signup {
  padding: 15px;
  margin: auto;
  max-width: 1000px;
}
#mc_embed_signup h2 {
  color: #275CCD;
}
#mc_embed_signup input.button {
  background: #275CCD;
  padding: 10px 25px 40px 25px;
  font-weight: bold;
  border: none;
}
#mc_embed_signup input.button:hover {
  background: #4a79dd;
}
#mc_embed_signup .logo {
  height: 70px;
  float: right;
}

.container--ch #resources-page-hero {
  background: url("https://iteminc.com/content/files/frontend-assets/background-images/resources-page-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container--ch #resources .row {
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
}
.container--ch #resources .row .content {
  width: 48%;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  overflow: hidden;
  max-width: 600px;
}
.container--ch #resources .row .content--text {
  order: 1;
}
.container--ch #resources .row .content--text h1 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 0px;
  color: #000000;
}
.container--ch #resources .row .content--text .underline {
  height: 5px;
  width: 50%;
  background: #275CCD;
  bottom: 0;
  max-width: 90px;
  margin-bottom: 0;
  display: block;
}
.container--ch #resources .row .content--text p {
  font-size: 35px;
  line-height: 1.3;
}
.container--ch #resources .row .content--text .ii-button {
  text-transform: capitalize;
}
.container--ch #resources .row .content--img {
  order: 1;
}
.container--ch #resources .row .content--img img {
  height: 350px;
  order: 0;
  display: block;
  margin: auto;
}

/*******************
===MEDIA QUERIES===
*******************/
@media (max-width: 830px) {
  .container--ch #resources .row {
    flex-direction: column;
    align-items: center;
  }
  .container--ch #resources .row .content {
    width: 100%;
  }
  .container--ch #resources .row .content--text h1 {
    font-size: 35px;
  }
  .container--ch #resources .row .content--text p {
    font-size: 25px;
  }
  .container--ch #resources .row .content--img {
    order: 0;
  }
}
@media (max-width: 544px) {
  .container--ch #resources .content {
    height: auto;
  }
  .container--ch #resources .content--img {
    height: 300px;
  }
  .container--ch #resources .content--img img {
    width: 100%;
    height: auto !important;
  }
}
.container--ch #catalog-page-hero {
  background: url("https://iteminc.com/content/files/frontend-assets/catalog-page/catalog-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container--ch #catalog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container--ch #catalog-cards .ii-product-card {
  width: 30% !important;
}

/************************
    MEDIA QUERIES
*************************/
@media (max-width: 748px) {
  .container--ch #catalog-cards .ii-product-card p {
    font-size: 18px;
  }
  .container--ch #catalog-cards .ii-product-card .ii-button {
    padding: 10px 30px;
    font-size: 14px;
  }
}
@media (max-width: 670px) {
  .container--ch #catalog-cards {
    display: block;
    text-align: center;
  }
  .container--ch #catalog-cards .ii-product-card {
    width: 90% !important;
    display: block;
    margin: 0 auto 15px auto;
    padding-bottom: 30px;
  }
  .container--ch #catalog-cards .ii-product-card p {
    margin-bottom: 25px;
  }
}
.container--ch #tech-support-page-hero {
  background: url("https://iteminc.com/content/files/frontend-assets/background-images/tech-support-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container--ch #free_support {
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.container--ch #free_support .image {
  width: 100%;
  text-align: center;
}
.container--ch #free_support .text_box {
  width: 100%;
  min-height: 400px;
  background-color: rgb(255, 255, 255);
  padding-left: 25px;
  color: #000000;
  z-index: 1;
}
.container--ch #free_support .text_box h1 {
  font-size: 40px;
  color: #000000;
  margin-bottom: 0;
}
.container--ch #free_support .text_box h2 {
  font-size: 28px;
  font-weight: lighter;
  margin-bottom: 0;
}
.container--ch #free_support .text_box li {
  list-style-type: none;
  line-height: 1.7;
  margin-bottom: 15px;
  font-size: 18px;
}
.container--ch #free_support .text_box p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 1.5;
  font-size: 18px;
}
.container--ch #free_support .text_box .italic {
  font-size: 14px;
  font-style: italic;
}
.container--ch #free_support .text_box ul {
  margin: 0;
  padding: 0;
}
.container--ch #free_support .text_box .ii-button {
  display: block;
  margin: 15px auto 15px auto;
}

/*********************************
          MEDIA QUERIES
*********************************/
@media (max-width: 904px) {
  .container--ch #free_support {
    margin: 0;
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
  .container--ch #free_support img {
    width: 100%;
  }
  .container--ch #free_support .text_box {
    width: 90%;
    padding: 10px;
    margin-top: -30px;
  }
  .container--ch #free_support .text_box h1 {
    font-size: 35px;
    color: #000000;
  }
  .container--ch #free_support .text_box button {
    padding: 5px;
  }
}
#ii-paypal-row img {
  max-width: 250px;
  display: block;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
