.container--ch * {
  box-sizing: border-box;
}
.container--ch img {
  margin: auto;
}

.ii-product-card {
  box-sizing: border-box;
  width: 33%;
  border: 5px solid #275CCD;
  text-align: center;
  margin: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
}
.ii-product-card img {
  width: 80%;
  margin: 0 auto 0 auto;
}
.ii-product-card p {
  font-size: 30px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 0 auto 15px auto;
  line-height: 1.3;
}
.ii-product-card .ii-container {
  margin-bottom: 20px;
  padding: 15px;
}

/**************************
MEDIA QUERIES
***************************/
@media (max-width: 865px) {
  .ii-product-card p {
    font-size: 22px;
  }
  .ii-product-card .ii-button {
    font-size: 12px;
  }
}
@media (max-width: 770px) {
  .ii-product-card {
    width: 90%;
  }
  .ii-product-card .ii-container {
    width: 100%;
  }
  .ii-product-card .ii-container .ii-button {
    font-size: 18px;
    width: 80%;
    display: block;
    margin: auto;
  }
}
.ii-button {
  color: #ffffff;
  text-decoration: none !important;
  font-size: 22px;
  padding: 15px 40px;
  font-weight: bold;
  font-family: sans-serif;
  border: solid 4px #275CCD;
  transition: 0.3s;
  overflow: hidden;
  text-align: center;
  color: #ffffff !important;
}
.ii-button:hover {
  border-color: #2289e3;
  transform: translateY(-2px) !important;
}
.ii-button--filled {
  background: #275CCD;
}
.ii-button--filled:hover {
  background: #2289e3;
}

@media (max-width: 770px) {
  .no-display-770px {
    display: none !important;
  }
}
@media (max-width: 720px) {
  .no-display-720px {
    display: none !important;
  }
}
.container--ch #hero {
  background: url("https://iteminc.com/content/files/frontend-assets/printer-darkened.jpg");
  color: #ffffff;
  padding: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container--ch #hero h1 {
  color: #ffffff;
  text-align: left;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 0;
  font-weight: bold;
}
.container--ch #hero .underline {
  height: 5px;
  width: 50%;
  background: #275CCD;
  bottom: 0;
  max-width: 240px;
  margin-bottom: 0;
}
.container--ch #hero p {
  font-size: 35px;
  width: 100%;
  max-width: 650px;
  font-family: sans-serif;
  line-height: 1.3;
}
.container--ch #hero .flex {
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}

/***********************************
******MEDIA QUERIES*****************
************************************/
@media (max-width: 720px) {
  .container--ch #hero h1 {
    font-size: 35px;
  }
  .container--ch #hero p {
    font-size: 25px;
  }
  .container--ch #hero .flex {
    flex-direction: column;
  }
  .container--ch #hero .flex .ii-button {
    margin-bottom: 25px;
    font-size: 18px;
    width: 80%;
  }
}
.container--ch #company-logos {
  overflow: hidden;
  box-sizing: border-box;
}
.container--ch #company-logos .flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px auto 20px auto;
  align-items: center;
}
.container--ch #company-logos .flex img {
  width: 200px;
  padding: 10px;
}
.container--ch #company-logos .flex span.img-downsize img {
  height: 100px !important;
  width: auto !important;
}
.container--ch #company-logos .flex img:nth-child(4) {
  width: 100px;
}

.container--ch #product-cards .flex {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

/*****************************************
**********MEDIA QUERIES*******************
*****************************************/
@media (max-width: 770px) {
  #product-cards .flex {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
