.container--ch{

    & #catalog-page-hero{
        background: url("https://iteminc.com/content/files/frontend-assets/catalog-page/catalog-hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        // & p{
        //     text-transform: capitalize;
        // }

    }

    & #catalog-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        & .ii-product-card{
        width: 30% !important;
        }
    }
}

/************************
    MEDIA QUERIES
*************************/
@media(max-width: 748px){
    .container--ch{

        & #catalog-cards{
    
            & .ii-product-card{
                
                & p{
                    font-size: 18px;
                }

                & .ii-button{
                    padding: 10px 30px;
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width: 670px){
    .container--ch{

        #catalog-cards{
            display: block;
            text-align: center;

            & .ii-product-card{
                width: 90% !important;
                display: block;
                margin: 0 auto 15px auto;
                padding-bottom: 30px;

                & p{
                    margin-bottom: 25px;
                }
            }
        }
    }
}