.ii-modal-overlay{
    position: absolute;
    background: rgba(0,0,0,.7);
    height: 0vh;
    display: none;
    color: $light;
    overflow: auto;
    padding: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;

    & .modal-exit{
        position: absolute;
        right: 25px;
        font-size: 30px;
        cursor: pointer;
    }

    & .modal-content{
        background: red;
        transition: .3s;
        transform: scale(.3);
    }

    & .ii-grow{
        transform: scale(1);
    }
}

.ii-modal-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
