.ii-testimonials-card{
    width: 31%;
    background: $primary;
    background-position: top center;
    background-size: cover;

    & img{
        width: 100%;
        margin: 0;
    }


    p{
        margin: 0;
        color: $light;
        padding: 10px 20px;
        font-size: 22px;
        line-height: 1.3;
        font-family: serif;

        &.signature{
            font-style: italic;
        }
    }
}