#mc_embed_signup{
    //background: #ccc;
    padding: 15px;
    margin: auto;
    max-width: 1000px;

    & h2{
        color: $primary;
    }

    & input.button{
        background: $primary;
        padding: 10px 25px 40px 25px;
        font-weight: bold;
        border: none;

        &:hover{
            background: lighten($primary, 10);
        }
    }

    .logo{
        height: 70px;
        float: right;
    }
}