.container--ch {

  & #tech-support-page-hero{
    background: url("https://iteminc.com/content/files/frontend-assets/background-images/tech-support-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
    
  & #free_support {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 0 10px;
      
      & .image {
        width: 100%;
        text-align: center;
      }
    
    & .text_box {
      width: 100%;
      min-height: 400px;
      background-color: rgb(255 ,255 ,255);
      padding-left: 25px;
      color: #000000;
      z-index: 1;

      & h2 {
        font-size: 28px;
        font-weight: lighter;
        margin-bottom: 0;
      }

      & li{
        list-style-type: none;
        line-height: 1.7;
        margin-bottom: 15px;
        font-size: 18px;
      }

      & p {
        margin: 20px 0;
        font-weight: 500;
        line-height: 1.5;
        font-size: 18px;
      }

      & .italic {
        font-size: 14px;
        font-style: italic;
      }

      & ul{
        margin: 0;
        padding: 0;
      }

      & .ii-button{
        display: block;
        margin: 15px auto 15px auto;
      }
    }
  } 
}
  
  /*********************************
            MEDIA QUERIES
  *********************************/
  @media(max-width: 904px) {
    
  .container--ch {
     
    & #free_support {
      margin: 0;
      flex-direction: column;
      width: 100%;
      padding: 10px;
  
      & img {
        width: 100%;
        }
      
      & .text_box {
        width: 90%;
        padding: 10px;
        margin-top: -30px;
        
      & button {
        padding: 5px;
          }
        }
      }
    }
  }