.container--ch {
    
    & #free_support {
      width: 100%;
      margin: 30px auto;
      max-width: 1100px;
      display: flex;
      align-items: center;
      justify-content:center;
      padding: 0 10px;
        
        & .image {
          width: 100%;
        }
      
      & .text_box {
        width: 100%;
        min-height: 400px;
        background-color: rgb(255 ,255 ,255);
        padding-left: 25px;
        color: #000000;
        z-index: 1;
  
        & h2 {
          font-size: 24px;
          font-weight: lighter;
        }
  
        & li{
          list-style-type: none;
          line-height: 1.7;
          margin-bottom: 15px;
        }
  
        & p {
          margin: 20px 0;
          font-weight: 500;
          line-height: 1.5;
        }
  
        & .italic {
          font-size: 12px;
          font-style: italic;
        }
  
        & .underline {
          height: 5px;
          width:130px;
          background-color: $primary;
          bottom: 0;
          max-width: 240px;
          margin-bottom: 0;
          display: block;
        }
        & .btn {
          display: flex;
          justify-content: center;
          align-items: center;
        }  
        & button{
          font-size: 22px;
          font-weight: bold;
          overflow: hidden;
          text-align: center;
          background-color: $primary;
          color: white;
          width: 300px;
          padding: 15px 0;
          border: $primary;
          cursor: pointer;
        }
      }
    } 
  }
  
  /*********************************
            MEDIA QUERIES
  *********************************/
  @media(max-width: 904px) {
    
  .container--ch {
     
    & #free_support {
      margin: 0;
      flex-direction: column;
      width: 100%;
      padding: 10px;
  
      & img {
        width: 100%;
        }
      
      & .text_box {
        width: 90%;
        padding: 10px;
        margin-top: -30px;
        
      & button {
        padding: 5px;
          }
        }
      }
    }
  }