.container--ch{
    & #company-logos{
        overflow: hidden;
        box-sizing: border-box;

        & .flex{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 20px auto 20px auto;
            align-items: center;

            & img{
                width: 200px;
                padding: 10px;
            }

            //This code is becaus Sana strips out classes from images
            //and adds the class to a wrapping span
            & span.img-downsize img{
                height: 100px !important;
                width: auto !important;
            }

            & img:nth-child(4){
                width: 100px;
            }
        }

        
    }
}