.container--ch{

    & #delivery-services{

         //This code is here because Sana wraps <img> in <span>
         & span{
            margin: auto !important;
            display: block !important;
            width: 100% !important;
        }

        & img{
            margin: auto;
            display: block;
            width: 100%;
        }

        & h1{
            color: $accent;
            font-size: 30px;
            text-align: center;
            line-height: 1.3;
            text-transform: capitalize;
            // max-width: 800px;
            // margin: auto;

            & em{
                font-weight: bold;
                font-size: 45px;
            }
        }
    }
}

/*******************************
******MEDIA QUERIES*************
********************************/

@media(max-width: 720px){
    .container--ch{

        & #delivery-services{

            & h1{
                font-size: 25px;

                & em{
                    font-size: 30px;
                }
            }
        }

    }
}