.container--ch{

    & #product-cards{
        //padding: 35px;

        & .ii-container{

            & .ii-button{

                &:hover{
                    background: red;
                    transform: translateY(-2px) !important;
                }
            }
        }

        & .flex{
            display: flex;
            justify-content: space-around;
            align-items: stretch;
        }
    }
}

/*****************************************
**********MEDIA QUERIES*******************
*****************************************/

@media(max-width: 770px){
    #product-cards{

        & .flex{
            flex-direction: column;
        }
    }
}