.container--ch{

    & #product-cards{
        //background: #f2f2f2;

        // & .ii-container{

        //     & .ii-button{

        //         &:hover{
        //             transform: translateY(-2px) !important;
        //         }
        //     }
        // }

        & .flex{
            display: flex;
            justify-content: space-around;
            align-items: stretch;

            & .ii-product-card{
                //@include box-shadow;
            }
        }
    }
}

/*****************************************
**********MEDIA QUERIES*******************
*****************************************/

@media(max-width: 865px){

    .ii-product-card{

        & p{
            font-size: 22px;
        }

        & .ii-button{
            font-size: 16px;
        }
    }
}

@media(max-width: 770px){
    #product-cards{

        & .flex{
            flex-direction: column;

            .ii-product-card{
                width: 90%;
        
                & .ii-container{
                    width: 100%;
        
                    & .ii-button{
                        font-size: 18px;
                        width: 80%;
                        display: block;
                        margin: auto;
                    }
                }
            }
        }
    }
}